name: Java CI with Gradle

on: [ "push", "pull_request" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-java@v3
        name: Set up JDK 17
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build the project
        run: ./gradlew build

      - uses: "marvinpinto/action-automatic-releases@latest"
        name: "Create release"
        if: ${{ github.event.repository.default_branch == github.ref_name && github.event.pull_request == null }}
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Development Build"
          files: |
            package-mod-fixes/build/libs/package-mod-fixes-20.2.jar
            package-serverpinger/build/libs/package-serverpinger-20.2.jar
            package-protocol-spoofer/build/libs/package-protocol-spoofer-20.2.jar
            package-linux-platform/build/libs/package-linux-platform-20.2.jar
            package-third-party/build/libs/package-third-party-20.2.jar
            build/libs/tarasande-20.2.jar
